.estrutura{
    width: 100%;
    display: flex;
  }
  
  .conteudo{
    width: 100%;
  }
  
  .my-sidebar{
    width: 300px;
  }
  
  .collection .collection-item.active{
      background-color: #ee6e73;
      color: #eafaf9;
  }
  
  .collection a.collection-item{
      color: #ee6e73;
  }