<div class="container-geral">
    <form [formGroup]="formulario" (ngSubmit)="salvar()">
        <h3>Cadastro de nova saída</h3>
        <div class="linha">
            <div class="col4">
                <mat-form-field appearance="outline">
                    <mat-label>Descrição</mat-label>
                    <input type="text" matInput formControlName="descricao">
                    <mat-error *ngIf="!validaCampo('descricao')">
                        Este campo é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col2">
                <mat-form-field appearance="outline">
                    <mat-label>Empresa</mat-label>
                    <mat-select matInput formControlName="empresaId">
                        <mat-option *ngFor="let empresa of empresasJavaList | async" [value]="empresa.id">
                            {{empresa.empresa}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!validaCampo('empresaId')">
                        Este campo é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col2">
                <mat-form-field appearance="outline">
                    <mat-label>Catergoria</mat-label>
                    <mat-select matInput formControlName="categoriaId">
                        <mat-option *ngFor="let categoria of categoriasList | async" [value]="categoria.id">
                            {{categoria.categoria}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!validaCampo('categoriaId')">
                        Este campo é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="linha">
            <div class="col1">
                <mat-form-field appearance="outline">
                    <mat-label>Parcelado</mat-label>
                    <mat-select matInput formControlName="parcelado"
                        (selectionChange)="parceladoChange('parcelado', 'qtdeParcelas')">
                        <mat-option [value]=true>Sim</mat-option>
                        <mat-option [value]=false>Não</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!validaCampo('parcelado')">
                        Campo <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col1">
                <mat-form-field appearance="outline">
                    <mat-label>Quantidade</mat-label>
                    <input type="number" matInput formControlName="qtdeParcelas">
                    <mat-error *ngIf="!validaCampo('qtdeParcelas')">
                        Campo <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col2">
                <mat-form-field appearance="outline">
                    <mat-label>Valor</mat-label>
                    <input type="text" matInput currencyMask
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', suffix: '' }"
                        formControlName="valorEsperado">
                    <mat-error *ngIf="!validaCampo('valorEsperado')">
                        Campo <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col1">
                <mat-form-field appearance="outline">
                    <mat-label>Vencimento</mat-label>
                    <input type="date" matInput formControlName="dataVencimento">
                    <mat-error *ngIf="!validaCampo('dataVencimento')">
                        Campo <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col1">
                <mat-form-field appearance="outline">
                    <mat-label>Pago?</mat-label>
                    <mat-select matInput formControlName="pago">
                        <mat-option [value]=true>Sim</mat-option>
                        <mat-option [value]=false>Não</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!validaCampo('pago')">
                        Campo <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col1">
                <mat-form-field appearance="outline">
                    <mat-label>Mensal?</mat-label>
                    <mat-select matInput formControlName="custoMensal">
                        <mat-option [value]=true>Sim</mat-option>
                        <mat-option [value]=false>Não</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!validaCampo('custoMensal')">
                        Campo <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col1">
                <mat-form-field appearance="outline">
                    <mat-label>Gasto Imprevisto</mat-label>
                    <mat-select matInput formControlName="custoImprevisto">
                        <mat-option [value]=true>Sim</mat-option>
                        <mat-option [value]=false>Não</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!validaCampo('custoImprevisto')">
                        Campo <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
        <div class="linha">
            <div class="col8">
                <mat-form-field appearance="outline">
                    <mat-label>Observações</mat-label>
                    <textarea matInput formControlName="obs"></textarea>
                </mat-form-field>
                <mat-error *ngIf="!validaCampo('obs')">
                    Este campo é <strong>obrigatório</strong>
                </mat-error>
            </div>
        </div>

        <div class="linha">
            <div class="col1">
                <button type="submit" mat-raised-button color="primary">Salvar <mat-icon>save</mat-icon></button>
            </div>
        </div>

    </form>
    <!-- <div>
        {{formulario.value | json}}
    </div> -->
</div>

<!--  -->