button{
    padding: 5px;
    width: 150px;
    font-size: 1.1em;
    margin-top: 15px;
}

mat-form-field{
    width: 60%;
}
mat-icon{
    font-size: 1.4em;
}

.categorias{
    display: flex;
    padding: 5px 0 0 15px;
}

.novo{
    width: 50%;
}
.listagem{
    width: 50%;
}

.largura-tabela{
    width: 98%;
}
table{
    width: 100%;
}