<div class="fundo100h-center blue">
    <div class="login-box">
        <h2>Sistema de Controle Financeiro</h2>
        <p>Digite suas credenciais</p>
        <div class="row">
            <form>
                <div class="login-e-senha">
                    <mat-form-field appearance="outline">
                        <mat-label>Usuário</mat-label>
                        <mat-icon matPrefix style="margin-right: 5px;">person</mat-icon>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Senha</mat-label>
                        <mat-icon matPrefix style="margin-right: 5px;">lock</mat-icon>
                        <input matInput type="password">
                    </mat-form-field>
                    <button (click)="login()" mat-raised-button color="primary">Login <mat-icon>send</mat-icon></button>
                </div>
            </form>
        </div>
    </div>
</div>