.fundo100h-center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    height: 400px;
    width: 500px;
    padding: 20px;
    color: #616161;
}

.login-box h5, p{
    text-align: center;
}
.espaco-entre-linhas{
    margin-top: 40px;
}
.padding-campos{
    padding: 0 50px;
}

button{
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}