<div class="fundo100h-center blue lighten-2">
    <div class="login-box  blue lighten-5">
        <h5>Sistema de Controle Financeiro</h5>
        <p>Digite suas credenciais</p>
        <div class="row">
            <form class="col s12 padding-campos">
                <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input id="usuario" type="text" class="">
                    <label for="usuario">Usuário</label>
                </div>
                <div class="input-field espaco-entre-linhas">
                    <i class="material-icons prefix">lock</i>
                    <input id="senha" type="password" class="">
                    <label for="senha">Senha</label>
                </div>
                <div>
                    <button (click)="login()" class="btn waves-effect waves-light blue darken-3" type="button">Login
                        <i class="material-icons right">send</i>
                      </button>
                </div>
            </form>
        </div>
    </div>
</div>
