<div class="my-container">
    <nav>
        <mat-toolbar color="warn">
            <mat-icon>attach_money</mat-icon>
            <span>Controle Financeiro</span>
            <span class="espaco"></span>
            <div class="menus">
                <ul>
                    <li><a>Dashboard</a></li>
                    <li><a routerLink="saidas">Saídas</a></li>
                    <li><a routerLink="entradas">Entradas</a></li>
                    <li><a>Apagar</a></li>
                    <li><a routerLink="cadastros">Cadastros</a></li>
                    <li><button mat-button>Valdete <mat-icon>account_circle</mat-icon></button></li>
                </ul>
            </div>
        </mat-toolbar>
    </nav>
    <router-outlet></router-outlet>
</div>