.my-container{
    max-width: 98%;
    margin: 0 auto;
}

.espaco {
    flex: 1 1 auto;
  }
  
.menus{    
    display: flex;
}

.menus>ul{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.menus a{
    font-size: .7em;
}