<div class="my-container">
    <nav class="red accent-2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center"><i class="material-icons">attach_money</i>Controle Financeiro</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a>Dashboard</a></li>
                <li><a routerLink="saidas">Saídas</a></li>
                <li><a routerLink="entradas">Entradas</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a>Apagar</a></li>
                <li><a routerLink="cadastros">Cadastros</a></li>
                <li><a class="dropdown-trigger" data-target="drop-usuario">Valdete<i class="material-icons left">account_circle</i></a></li>
            </ul>
        </div>

    </nav>
    <div class="estrutura">
        <div class="my-sidebar">
            <router-outlet></router-outlet>
        </div>
        <div class="conteudo">
            
        </div>
    </div>
</div>